Repository Ai-Whisperers/Company-Information, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ai-whisperers/core-team, @ai-whisperers/documentation-team, @ai-whisperers/devops, @ai-whisperers/frontend-team, @ai-whisperers/backend-team, @ai-whisperers/ml-team

Complete organization setup with all repositories
  .claude/settings.local.json
  init-repos.bat
  repositories/core-services/.env.example
  repositories/core-services/README.md
  repositories/core-services/docker-compose.yml
  repositories/core-services/docker/Dockerfile
  repositories/documentation/README.md
  repositories/documentation/getting-started/README.md
  repositories/infrastructure/README.md
  repositories/ml-models/README.md
  repositories/ml-models/requirements.txt
  repositories/web-platform/README.md
  repositories/web-platform/package.json
  setup.ps1
  setup.sh
Owners: @ai-whisperers/core-team, @ai-whisperers/devops, @ai-whisperers/documentation-team

Initial setup: Complete AI-Whisperers organization structure
  CLAUDE.md
Owners: @ai-whisperers/documentation-team

feat: Complete GitHub Projects and issue management setup
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/project_idea.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/labels.yml
  .github/workflows/project-automation.yml
  PROJECT_SETUP.md
Owners: @ai-whisperers/devops, @ai-whisperers/documentation-team

docs: Add comprehensive deployment guide for AI-Whisperers
  DEPLOYMENT_GUIDE.md
Owners: @ai-whisperers/documentation-team

docs: Update deployment guide for Next.js 15 website
  DEPLOYMENT_GUIDE.md
Owners: @ai-whisperers/documentation-team

docs: Create comprehensive ClickUp TODO master list
  CLICKUP_TODO_MASTER_LIST.md
Owners: @ai-whisperers/documentation-team

feat: Introduce AI-Whisperers company overview and mission statement
  CLICKUP_IMPORT_GUIDE.md
  CLICKUP_IMPORT_TEMPLATE.csv
  DEPLOYMENT_GUIDE.md
  PROGRESS_TRACKING.md
  PROJECT_SETUP.md
  PROJECT_STRUCTURE.md
  company_overview
  documentation/current-assets/CURRENT_INVENTORY.md
  init-repos.bat
  repositories/core-services/.env.example
  repositories/core-services/README.md
  repositories/core-services/docker-compose.yml
  repositories/core-services/docker/Dockerfile
  repositories/documentation/README.md
  repositories/documentation/getting-started/README.md
  repositories/infrastructure/README.md
  repositories/ml-models/README.md
  repositories/ml-models/requirements.txt
  repositories/web-platform/README.md
  repositories/web-platform/package.json
  setup.ps1
  setup.sh
Owners: @ai-whisperers/documentation-team, @ai-whisperers/core-team, @ai-whisperers/devops

docs: Create comprehensive business documentation system
  documentation/README.md
  documentation/automation-strategy/BUSINESS_AUTOMATION_STRATEGY.md
  documentation/business-analysis/COMPANY_SETUP_ROADMAP.md
  documentation/platform-recommendations/PLATFORM_ANALYSIS.md
Owners: @ai-whisperers/documentation-team

docs: Create focused business setup TODO for ClickUp
  CLICKUP_BUSINESS_TODO.md
Owners: @ai-whisperers/documentation-team

docs: Remove specific tech stack details, focus on business strategy
  documentation/current-assets/CURRENT_INVENTORY.md
  documentation/platform-recommendations/PLATFORM_ANALYSIS.md
Owners: @ai-whisperers/documentation-team

.github/CODEOWNERS:

# Code Owners for AI-Whisperers
# These owners will be the default owners for everything in the repo

# Global owners
* @ai-whisperers/core-team

# Documentation
/docs/ @ai-whisperers/documentation-team
*.md @ai-whisperers/documentation-team

# Infrastructure and deployment
/.github/ @ai-whisperers/devops
/infrastructure/ @ai-whisperers/devops
**/Dockerfile @ai-whisperers/devops
**/.env.example @ai-whisperers/devops

# Frontend code
/web-platform/ @ai-whisperers/frontend-team
*.tsx @ai-whisperers/frontend-team
*.jsx @ai-whisperers/frontend-team

# Backend services
/core-services/ @ai-whisperers/backend-team
*.py @ai-whisperers/backend-team
*.go @ai-whisperers/backend-team

# Machine Learning
/ml-models/ @ai-whisperers/ml-team
*.ipynb @ai-whisperers/ml-team
